* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 30px;
    background-color: #ebebeb
}

header {
	width: 100vw;
	height:  40px;
	background-color: #db3530;
}

ul{
	position: relative;
	left: 5vw;
	
	padding-left:5%;
	padding-right:5%;

	background-color:white;
	border-width:1px;
	border-color:#e1e1e1;
	border-style:solid;
	border-radius:5px

}

li{
	background-color:white;
}

div.login{
	padding-left:30%;	
	width:40%;
	height:50%;
	margin-top:30%;
}

.additem {
	background-color:#00000000;
	color: white;
	left: 3vw;
	visibility: hidden;
}

#back {
	width: fit-content;
}

#back, #title {
	display: inline;	
}
