* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 22pt;
}


html, body {
	height:100%;
}
body{
	background-color: #ebebeb;
	display:flex;
	flex-direction:column;
}

header {
	width: 100%;
	background-color: #db3530;
	flex-shrink: 0;
}

#heading {
	padding: 15px 36px;
	float: left;
}

#settings {
	padding: 12px 36px;
	float: right;
}

#title {
	padding: 10px 0px;
}

ul {
	margin:0 36px;
	padding: 10px;

	background-color:white;
	border-width:1px;
	border-color:#e1e1e1;
	border-style:solid;
	border-radius:5px;
}

li {
	list-style: none;
	background-color:white;
}

li p {
	display: inline;
}

main {
	flex-grow:1;
	margin-top: 10px;
}

#back {
	width: 50px;
	cursor: pointer;
}
#link{
	display: inline;
	font-size: 15px;
	cursor: pointer;
}

ul li p {
	cursor: pointer;
}

#back, #title, .additem{
	display: inline;	
}

footer p{
	font-size:11pt;
}
footer{
	margin-top:10px;
}

#conerror{
	visibility: hidden;
	position: fixed;
	left: 0vw;
	top: 0vw;
	width: 100vw;
	height: 100vh;
	background-color: red;
	overflow-x: 1;
}
#conerrortext{
	 margin: auto;
    width: 50%;
    text-align: center;
	color: white;
}
