* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
}

header {
	width: 100vw;
	height:  40px;
	background-color: #db3530;
}


div.login{
	padding-left:30%;	
	width:40%;
	height:50%;
	margin-top:30%;
}
